* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background-color: lightgrey;
}

.board {
  display: grid;
  grid-auto-rows: 1fr;
  height: 50vh;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.button {
  font-size: 5rem;
}
